# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable rss-ticker': 'rss-ticker:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RSS Ticker'
      'submenu': [
        { 'label': 'Toggle', 'command': 'rss-ticker:toggle' }
      ]
    ]
  }
]
