# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {label: 'Enable Rss Ticker', command: 'rss-ticker:toggle'}
    {label: 'Refresh Rss Ticker', command: 'rss-ticker:refresh'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RSS Ticker'
      'submenu': [
        { 'label': 'Toggle', 'command': 'rss-ticker:toggle' }
        { 'label': 'Refresh', 'command': 'rss-ticker:refresh' }
      ]
    ]
  }
]
